<div class="navbar-fixed">
    <nav id="nav" class="teal darken-2">
        <div class="container">
          <div class="nav-wrapper">
            <a ui-sref="home" class="brand-logo">
              <img src="./images/favicon.ico" alt="Mako">
            </a>
            <ul class="right hide-on-med-and-down" style="color:#FFFFFF !important;">
              <li>
                <a ui-sref="home">BITSAA</a>
              </li>
              <li>
                <a href="#!">Events</a>
              </li>
              <li>
                <a href="#!" ng-click="toggleRight();"><i class="large mdi-action-account-circle"></i></a>
              </li>
            </ul>
            <ul id="nav-mobile" class="right side-nav">
              <li>
                <a ui-sref="home">BITSAA</a>
              </li>
              <li>
                <a href="#!">Events</a>
              </li>
              <li>
                <a href="#!" ng-click="toggleRight();"><i class="large mdi-action-account-circle"></i></a>
              </li>
            </ul>
            <a class="button-collapse" href="javascript:void(0);"  data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
          </div>
        </div>
    </nav>
</div>
